@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";


input:focus, textarea:focus, select:focus {
    border-color: rgb(74 222 128) !important;
    outline: none !important;
    box-shadow: none !important;
}
