@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus, textarea:focus {
    border-color: rgb(74 222 128) !important;
    outline: none !important;
    box-shadow: none !important;
}

